//overall
* {
  margin: 0;
  padding: 0;
}

body {
  color: darkgray;
}

.container {
  margin-top: 20px;
}

//image styles
#top-logo {
  width: 150px;
}

//add phone panel
.panel-default {
  border: none;
  background: white;
}

.panel-default>.panel-heading {
  background: white;
  border: none;
}