//overall
* {
  margin: 0;
  padding: 0;
}

body {
  color: darkgray;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

//image/icon styles
#top-logo {
  width: 150px;
}

.fa-address-book {
  color: white;
}

//add phone panel
.panel-default {
  border: none;
  background: white;
}

.panel-default>.panel-heading {
  background: white;
  border: none;
}

.horizontalMargin {
  margin-left: 2px;
  margin-right: 2px;
}

button {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}