<!-- ALL CONTACT LIST VIEW (DEFAULT) -->
<div class="container">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="" class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Search Contacts ..." ng-model="searchContacts">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      DISPLAY ALL CONTACTS (default / landing view)
    </div>
  </div>

  <div ng-repeat="contact in contacts | filter: searchContacts">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-11">{{contact.firstName}} {{contact.lastName}}</div>
          <div class="col-xs-1"><button class="btn btn-danger fa fa-eye">VIEW</button></div>
          <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o"></button></div>
          <!-- <div class="row">
            <div class="col-xs-6">
              <div class="col-xs-6">
                <h6>Phone 1 </h6><span><p>{{contact.phone1}}</p></span>
                <h6>Type </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>Phone 2 </h6><span><p>{{contact.phone2}}</p></span>
                <h6>Type </h6><span><p>{{contact.phone2Type}}</p></span>
              </div>
              <div class="col-xs-6">
                <h6>Birthday </h6><span><p>{{contact.birthday}}</p></span>
                <h6>Email </h6><span><p>{{contact.emails}}</p></span>
                <h6>URL </h6><span><p>{{contact.url}}</p></span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6">
                <h6>Address </h6>
                <h6>Line 1 </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>Line 2 </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>City </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>State </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>Zip </h6><span><p>{{contact.phone1Type}}</p></span>
                <h6>Country </h6><span><p>{{contact.phone1Type}}</p></span>
              </div>
              <div class="col-xs-6">
                <h6>Category</h6>
                <div>
                  <p>{{contact.group}}</p>
                  <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="textinput"><h6>Add to Group</h6></label>
                    <div class="col-sm-6">
                      <select class="form-control">
                        <option>Family</option>
                        <option>Favorites</option>
                        <option>Work</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>