<!-- GROUPS VIEW CONTAINER-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      DISPLAY GROUPS (on click)
      <div>
        group 1
      </div>
      <div>
        <ul>
          <li>person 1</li>
          <li>person 2</li>
          <li>person 3</li>
          <li>person 4</li>
        </ul>
      </div>
      <div>
        group 2
      </div>
      <div>
        <ul>
          <li>person 1</li>
          <li>person 2</li>
          <li>person 3</li>
          <li>person 4</li>
        </ul>
      </div>
    </div>
  </div>
</div>