<!-- ALL CONTACT LIST VIEW (DEFAULT) -->
<div class="container">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="" class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Search Contacts ..." ng-model="searchContacts">
      </div>
    </div>
  </div>

  <div ng-repeat="contact in contacts | filter: searchContacts">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-9">{{contact.firstName}} {{contact.lastName}}</div>
          <div class="col-xs-1">
            <button class="btn btn-info fa fa-star horizontalMargin" ng-click="makeFavorite(contact.id)"></button>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-warning fa fa-eye horizontalMargin" ng-click="viewContact(contact.id)"></button>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-danger fa fa-trash-o horizontalMargin" ng-click="deleteContact(contact.id)"></button>
          </div>
      </div>
    </div>
  </div>
</div>