<!-- LOGIN CONTAINER -->
<div class="container col-xs-4 col-xs-offset-4" id="login-container">
  <img src="/images/connex-logo-sm.png" alt="home" class="img-responsive center-block" id="top-logo">
  <h3 class="form-signin-heading text-center">CONTACTS</h3>
  <h6 class="form-signin-heading text-center">sign in</h6>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
  <button class="btn btn-lg btn-success col-xs-6" id="loginButton">Login</button>
  <button class="btn btn-lg btn-primary col-xs-6" id="registerButton">Register</button>
</div>