* {
  margin: 0;
  padding: 0; }

body {
  color: darkgray; }

.container {
  margin-top: 20px; }

#top-logo {
  width: 150px; }

.panel-default {
  border: none;
  background: white; }

.panel-default > .panel-heading {
  background: white;
  border: none; }
